.LinkArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
  background-color: rgba($color: #FFFFFF, $alpha: 0.3);
  opacity: 0;

  &:hover {
    opacity: 1;
  }
}