@import "../../../scss/variables";

.Form {
  max-width: 400px;
  border-bottom: 0.2rem solid $primary;

  & .Input,
  & .Label,
  & .Button {
    color: tint-color($primary, 40%);
  }

  & .Button {
    visibility: hidden;
  }

  & .Input:focus,
  & .Button:hover {
    color: $primary;
  }

  &:hover {
    & .Button {
      visibility: visible;
    }
  }

  & .Input::placeholder {
    color: tint-color($primary, 40%);
  }
}