@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

// Custom Variables
@import "./scss/variables";

// Custom Utilities
@import "./scss/utilities";

// Main bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// My Custom
body {
  &::-webkit-scrollbar {
    width: 6px;
    background-color: $light;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary;
  }
}

.scrollbar {
  &::-webkit-scrollbar {
    width: 4px;
    background-color: $light;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #C0C0C0;
  }
}

// Remove bg-autofill chrome
input:-webkit-autofill {
  &,
  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 0 0 30px white inset !important;
  }
}

// Glass Morphism
.bg-glass {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
}