.Container {
  height: calc(100vh - 80px);
  background-image: url("../../assets/images/Blur\ Cluster\ 1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}